body {
    display: flex;
    justify-content: center;
    background-color: #9DBEBB;
}
/* background*/
.background {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 954px;
}
.rectangle-red {
    width: 609px;
    height: 594px;
    background-color: #BE0909;
    margin margin-top: 20px;
    z-index: -2;
}
.rectangle-orange {
    width: 345px;
    height: 594px;
    background-color: #FFB039;
    margin margin-top: 20px;
    z-index: -2;
    }
/*foreground form*/
.foreground {
    display: flex;
    flex-direction: row;
    width: 1100px; 
    z-index: 0;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 400px;
    /*position: relative;
        left: 137px;
        top: 40px;*/
}
#form:hover {
    border-color: #FEFFFF;
}
#form {
    background-color: #BE0909;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #468189;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 21 px;
    letter-spacing: 0.1em;
    font-weight: normal;
    color: #FEFFFF;
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    letter-spacing: 0.5em;
    font-weight: bold;
    color: #FEFFFF;
    display: flex;
    align-content: center; 
    justify-content: center;
}
button {
    color: #FEFFFF;
    background-color:#468189;
    width: 202px;
    height: 48px;
    border-radius: 25px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
button:hover {
    background-color: #9DBEBB;
    transform: scale(1.1);
}
.div-duck {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}
.duck {
    width: 663px;
    height: 603px;
    margin-left: 20px;
}

/* foreground duck*/
/*.right-side {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    max-width: 400px;
}
/*.duck {
   /* 
   /* display: flex;
    justify-content: flex-end;
    position: relative; /* or absolute? 
        top: 40px;
    z-index: +2;*/
    
}



    
}